<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
		<h1>Это простейшая страница Simple</h1>

		пароль из параметра {{ password }}
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
</body>
</html>








<h1>Это простейшая страница Simple</h1>

пароль из параметра {{ password }}